<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XMeeting_AudioCodecs</key>
	<array>
		<dict>
			<key>XMeeting_CodecBandwidth</key>
			<string>Another Bandwidth</string>
			<key>XMeeting_CodecKey</key>
			<string>g.711-ulaw</string>
			<key>XMeeting_CodecName</key>
			<string>G.711- uLaw</string>
			<key>XMeeting_CodecQuality</key>
			<string>Good</string>
		</dict>
		<dict>
			<key>XMeeting_CodecBandwidth</key>
			<string>Some Bandwidth</string>
			<key>XMeeting_CodecKey</key>
			<string>g.711-alaw</string>
			<key>XMeeting_CodecName</key>
			<string>G.711-ALaw</string>
			<key>XMeeting_CodecQuality</key>
			<string>Good</string>
		</dict>
	</array>
	<key>XMeeting_VideoCodecs</key>
	<array>
		<dict>
			<key>XMeeting_CodecBandwidth</key>
			<string>Sure!</string>
			<key>XMeeting_CodecKey</key>
			<string>h.263</string>
			<key>XMeeting_CodecName</key>
			<string>H.263</string>
			<key>XMeeting_CodecQuality</key>
			<string>Superior</string>
		</dict>
		<dict>
			<key>XMeeting_CodecBandwidth</key>
			<string>Not interesting</string>
			<key>XMeeting_CodecKey</key>
			<string>h.261</string>
			<key>XMeeting_CodecName</key>
			<string>H.261</string>
			<key>XMeeting_CodecQuality</key>
			<string>Good</string>
		</dict>
	</array>
</dict>
</plist>
